<section class="mb-5">
    <div class="table-responsive bg-glass shadow-4-strong rounded-6">
        <table class="
        table table-borderless table-hover
        align-middle
        mb-0
        text-white
        ">
            <thead class="">
                <tr>
                    <th>#</th>
                    <th>Bug ID</th>
                    <th>Description</th>
                    <th>Priority</th>
                    <th>Assigned to</th>
                    <th>Reported by</th>
                    <th>Updated On</th>
                    <th>Created On</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="">
                <tr class="text-white">
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                                style="width: 45px; height: 45px" class="rounded-circle" />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">John Doe</p>
                                <p class="text-muted mb-0">john.doe@gmail.com</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="fw-bold mb-1">Software engineer</p>
                        <p class="text-muted mb-0">IT department</p>
                    </td>
                    <td>
                        <span class="badge badge-success rounded-pill">Active</span>
                    </td>
                    <td>Senior</td>
                    <td>
                        <button type="button" class="btn btn-outline-white btn-sm btn-rounded">
                            Edit
                        </button>
                    </td>
                </tr>
                <tr class="text-white">
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                                style="width: 45px; height: 45px" class="rounded-circle" />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">John Doe</p>
                                <p class="text-muted mb-0">john.doe@gmail.com</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="fw-bold mb-1">Software engineer</p>
                        <p class="text-muted mb-0">IT department</p>
                    </td>
                    <td>
                        <span class="badge badge-success rounded-pill">Active</span>
                    </td>
                    <td>Senior</td>
                    <td>
                        <button type="button" class="btn btn-outline-white btn-sm btn-rounded">
                            Edit
                        </button>
                    </td>
                </tr>
                <tr class="text-white">
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-circle" alt=""
                                style="width: 45px; height: 45px" />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">Alex Ray</p>
                                <p class="text-muted mb-0">alex.ray@gmail.com</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">Consultant</p>
                        <p class="text-muted mb-0">Finance</p>
                    </td>
                    <td>
                        <span class="badge badge-primary rounded-pill">Onboarding</span>
                    </td>
                    <td>Junior</td>
                    <td>
                        <button type="button" class="btn btn-outline-white btn-rounded btn-sm fw-bold">
                            Edit
                        </button>
                    </td>
                </tr>
                <tr class="text-white">
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="https://mdbootstrap.com/img/new/avatars/7.jpg" class="rounded-circle" alt=""
                                style="width: 45px; height: 45px" />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">Kate Hunington</p>
                                <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">Designer</p>
                        <p class="text-muted mb-0">UI/UX</p>
                    </td>
                    <td>
                        <span class="badge badge-warning rounded-pill">Awaiting</span>
                    </td>
                    <td>Senior</td>
                    <td>
                        <button type="button" class="btn btn-outline-white btn-rounded btn-sm fw-bold">
                            Edit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>















<!-- Section: Visualization -->
<section>
    <div class="row gx-lg-5">
        <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="bg-glass shadow-4-strong rounded-6 h-100">
                <!-- Card header -->
                <div class="p-4 border-bottom">
                    <div class="row align-items-center">
                        <div class="col-6 mb-4 mb-md-0">
                            <p class="text-muted mb-2">Users</p>
                            <p class="mb-0">
                                <span class="h5 me-2">14 567 </span>
                                <small class="text-success text-sm"><i
                                        class="fas fa-arrow-up fa-sm me-1"></i>13,48%</small>
                            </p>
                        </div>

                        <div class="col-6 mb-4 mb-md-0 text-end">
                            <a class="btn btn-outline-white btn-rounded" href="#" role="button">Details</a>
                        </div>
                    </div>
                </div>
                <!-- Card header -->

                <!-- Card body -->
                <div class="p-4">
                    <canvas id="line-chart" height="200px"></canvas>
                </div>
                <!-- Card body -->
            </div>
            <!-- Card -->
        </div>

        <div class="col-lg-6 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="bg-glass shadow-4-strong rounded-6">
                <!-- Card header -->
                <div class="p-4 border-bottom">
                    <div class="row align-items-center">
                        <div class="col-6 mb-4 mb-md-0">
                            <p class="text-muted mb-2">Location</p>
                            <p class="mb-0">
                                <span class="h5 me-2">Top country: USA </span>
                            </p>
                        </div>

                        <div class="col-6 mb-4 mb-md-0 text-end">
                            <a class="btn btn-outline-white btn-rounded" href="#" role="button">Details</a>
                        </div>
                    </div>
                </div>
                <!-- Card header -->

                <!-- Card body -->
                <div class="p-4 pb-0">
                    <div class="vector-map" id="my-map"></div>
                </div>
                <!-- Card body -->
            </div>
            <!-- Card -->
        </div>
    </div>
</section>
<!-- Section: Visualization -->