{% extends 'main.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}


<div class="container py-4">
    {% include 'messages.html' %}

    <div class="mx-4 mb-3">
        <h1>Dashboard</h1>
    </div>
    <!-- Section: Summary -->
    <section class="mb-5">
        <div class="row gx-xl-5">
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <!-- Card -->
                <a class="d-flex align-items-center p-4 bg-glass shadow-4-strong rounded-6 text-reset ripple" href="#" data-ripple-color="hsl(0, 0%, 75%)">
                    <div class="p-3 bg-theme rounded-4">
                        <i class='bx bxs-bug' style="font-size: xx-large;"></i>
                    </div>

                    <div class="ms-4">
                        <p class="text-muted mb-2">Total Bugs</p>
                        <p class="mb-0">
                            <span class="h5 me-2">{{ tickets_all.count }}</span>
                            <!-- <small class="text-success text-sm"><i class="fas fa-arrow-up fa-sm me-1"></i>13,48%</small> -->
                        </p>
                    </div>
                </a>
                <!-- Card -->
            </div>

            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <!-- Card -->
                <a class="d-flex align-items-center p-4 bg-glass shadow-4-strong rounded-6 text-reset ripple" href="#" data-ripple-color="hsl(0, 0%, 75%)">
                    <div class="p-3 bg-theme rounded-4">
                        <i class="fas fa-envelope fa-lg text-white fa-fw"></i>
                        <!-- <i class="fas fa-file-alt fa-lg text-white fa-fw"></i> -->
                    </div>

                    <div class="ms-4">
                        <p class="text-muted mb-2">Un-Opened</p>
                        <p class="mb-0">
                            <span class="h5 me-2 text-primary">{{ unopened_tickets.count }}</span>
                            <!-- <small class="text-success text-sm"><i class="fas fa-arrow-up fa-sm me-1"></i>23,58%</small> -->
                        </p>
                    </div>
                </a>
                <!-- Card -->
            </div>

            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <!-- Card -->
                <a class="d-flex align-items-center p-4 bg-glass shadow-4-strong rounded-6 text-reset ripple" href="#" data-ripple-color="hsl(0, 0%, 75%)">
                    <div class="p-3 bg-theme rounded-4">
                        <i class="fas fa-clock fa-lg text-white fa-fw"></i>
                    </div>

                    <div class="ms-4">
                        <p class="text-muted mb-2">In Progress</p>
                        <p class="mb-0">
                            <span class="h5 me-2 text-success">{{ inprogress_tickets.count }}</span>
                            <!-- <small class="text-danger text-sm"><i class="fas fa-arrow-down fa-sm me-1"></i>23,58%</small> -->
                        </p>
                    </div>
                </a>
                <!-- Card -->
            </div>

            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <!-- Card -->
                <a class="d-flex align-items-center p-4 bg-glass shadow-4-strong rounded-6 text-reset ripple" href="#" data-ripple-color="hsl(0, 0%, 75%)">
                    <div class="p-3 bg-theme rounded-4">
                        <i class="fas fa-check-double fa-lg text-white fa-fw"></i>
                        <!-- <i class="fas fa-sign-out-alt fa-lg text-white fa-fw"></i> -->
                    </div>

                    <div class="ms-4">
                        <p class="text-muted mb-2">Completed/Closed</p>
                        <p class="mb-0">
                            <span class="h5 me-2 text-secondary">{{ closed_tickets.count }}</span>
                            <!-- <small class="text-success text-sm"><i class="fas fa-arrow-down fa-sm me-1"></i>23,58%</small> -->
                        </p>
                    </div>
                </a>
                <!-- Card -->
            </div>
        </div>
    </section>
    <!-- Section: Summary -->

    <!-- Section: In Progress Table -->
    <div class="mx-4 mb-3">
        <h3>In Progress/Opened Tickets</h3>
    </div>
    {% if inprogress_tickets.count == 0 %}
    <div class="mx-5 mb-5" style="color: rgb(204, 204, 204);">
        <h4>-No tickets are opened currently</h4>
    </div>
    {% else %}
    <section class="mb-5">
        <div class="table-responsive bg-glass shadow-4-strong rounded-6">
            <table class="
            table table-borderless table-hover table-striped
            align-middle
            mb-0
            text-white
            ">
                <thead class="">
                    <tr>
                        <th>#</th>
                        <th style="text-align: center;">Bug ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th style="text-align: center;">Priority</th>
                        <th>Assigned to</th>
                        <th>Reported by</th>
                        <th style="text-align: center;">Updated On</th>
                        <th style="text-align: center;">Created On</th>
                        <th style="text-align: center;">Actions</th>
                    </tr>
                </thead>
                <tbody class="">
                    {% for prticket in sorted_tickets %}
                    {% for ticket in inprogress_tickets %}
                    {% if prticket.bug_ref == ticket.id %}
                    <tr class="text-white">
                        <td>{% cycle '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' '16' '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27' '28' '29' '30' %}</td>
                        <td style="text-align: center;">{{ ticket.id }}</td>
                        <td>
                            <p class="fw-bold" style="min-width: 120px;">{{ ticket.title }}</p>
                        </td>
                        <td>
                            <p style="min-width: 200px;">{{ ticket.description }}</p>
                        </td>
                        <td style="text-align: center;">
                            {% if ticket.priority == 1 %}
                            <span class="badge badge-danger rounded-pill">
                                Urgent
                            </span>
                            {% elif ticket.priority == 2 %}
                            <span class="badge badge-warning rounded-pill">
                                High
                            </span>
                            {% elif ticket.priority == 3 %}
                            <span class="badge badge-primary rounded-pill">
                                Medium
                            </span>
                            {% else %}
                            <span class="badge badge-secondary rounded-pill">
                                Low
                            </span>
                            {% endif %}
                        </td>
                        <td>
                            {% for user in ticket.assigned_to.all %}
                            <div class="d-flex align-items-center">
                                <!-- https://mdbootstrap.com/img/new/avatars/8.jpg -->
                                <img src="{{ user.avatar.url }}" alt="avatar"
                                    style="width: 35px; height: 35px" class="rounded-circle"/>
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">@{{ user.username }}</p>
                                    <p class="text-muted mb-0">{{ user.email }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="{{ ticket.reported_by.avatar.url }}" alt=""
                                    style="width: 35px; height: 35px" class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">@{{ ticket.reported_by.username }}</p>
                                    <p class="text-muted mb-0">{{ ticket.reported_by.email }}</p>
                                </div>
                            </div>
                        </td>
                        <td style="text-align: center;">{{ ticket.update_date }}</td>
                        <td style="text-align: center;">{{ ticket.create_date }}</td>
                        <td>
                            <div class="d-flex flex-column align-items-center" style="min-width: 90px;">
                                <div class="m-1">
                                    <a href=" {% url 'update-status' ticket.id 1 %} " class="btn btn-outline-success btn-sm btn-rounded">
                                        <i class="fas fa-check m-1"></i>Done
                                    </a>
                                </div>
                                <div class="m-1">
                                    <a href=" {% url 'update-status' ticket.id 0 %} " class="btn btn-outline-secondary btn-sm btn-rounded">
                                        <i class="fas fa-slash m-1"></i>Close
                                    </a>
                                </div>
                                <div class="m-1">
                                    <a href="{% url 'edit-ticket' ticket.id %}" class="btn btn-outline-white btn-sm btn-rounded">
                                        Edit
                                    </a>
                                </div>
                                <div class="m-1">
                                    <a href="{% url 'delete-ticket' ticket.id %}" class="btn btn-outline-danger btn-sm btn-rounded">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% endif %}
    <!-- Section: In Progress Table -->

    <!-- Section: Un-Opened Table -->
    <div class="mx-4 mb-3">
        <h3>Un-Opened Tickets</h3>
    </div>
    {% if unopened_tickets.count == 0 %}
    <div class="mx-5 mb-5" style="color: rgb(204, 204, 204);">
        <h4>-No new tickets! #winning</h4>
    </div>
    {% else %}
    <section class="mb-5">
        <div class="table-responsive bg-glass shadow-4-strong rounded-6">
            <table class="
            table table-borderless table-hover table-striped
            align-middle
            mb-0
            text-white
            ">
                <thead class="">
                    <tr>
                        <th>#</th>
                        <th style="text-align: center;">Bug ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th style="text-align: center;">Priority</th>
                        <th>Assigned to</th>
                        <th>Reported by</th>
                        <th style="text-align: center;">Updated On</th>
                        <th style="text-align: center;">Created On</th>
                        <th style="text-align: center;">Actions</th>
                    </tr>
                </thead>
                <tbody class="">
                    {% for prticket in sorted_tickets %}
                    {% for ticket in unopened_tickets %}
                    {% if prticket.bug_ref == ticket.id %}
                    <tr class="text-white">
                        <td>{% cycle '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' '16' '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27' '28' '29' '30' %}</td>
                        <td style="text-align: center;">{{ ticket.id }}</td>
                        <td>
                            <p class="fw-bold" style="min-width: 120px;">{{ ticket.title }}</p>
                        </td>
                        <td>
                            <p style="min-width: 200px;">{{ ticket.description }}</p>
                        </td>
                        <td style="text-align: center;">
                            {% if ticket.priority == 1 %}
                            <span class="badge badge-danger rounded-pill">
                                Urgent
                            </span>
                            {% elif ticket.priority == 2 %}
                            <span class="badge badge-warning rounded-pill">
                                High
                            </span>
                            {% elif ticket.priority == 3 %}
                            <span class="badge badge-primary rounded-pill">
                                Medium
                            </span>
                            {% else %}
                            <span class="badge badge-secondary rounded-pill">
                                Low
                            </span>
                            {% endif %}
                        </td>
                        <td>
                            {% for user in ticket.assigned_to.all %}
                            <div class="d-flex align-items-center">
                                <!-- https://mdbootstrap.com/img/new/avatars/8.jpg -->
                                <img src="{{ user.avatar.url }}" alt="avatar"
                                    style="width: 35px; height: 35px" class="rounded-circle"/>
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">@{{ user.username }}</p>
                                    <p class="text-muted mb-0">{{ user.email }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="{{ ticket.reported_by.avatar.url }}" alt=""
                                    style="width: 35px; height: 35px" class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">@{{ ticket.reported_by.username }}</p>
                                    <p class="text-muted mb-0">{{ ticket.reported_by.email }}</p>
                                </div>
                            </div>
                        </td>
                        <td style="text-align: center;">{{ ticket.update_date }}</td>
                        <td style="text-align: center;">{{ ticket.create_date }}</td>
                        <td>
                            <div class="d-flex flex-column align-items-center" style="min-width: 90px;">
                                <div class="m-1">
                                    <a href="{% url 'update-status' ticket.id 0 %}" class="btn btn-outline-success btn-sm btn-rounded">
                                        <i class="far fa-envelope-open m-1"></i>Open
                                    </a>
                                </div>
                                <div class="m-1">
                                    <a href="{% url 'edit-ticket' ticket.id %}" class="btn btn-outline-white btn-sm btn-rounded">
                                        Edit
                                    </a>
                                </div>
                                <div class="m-1">
                                    <a href="{% url 'delete-ticket' ticket.id %}" class="btn btn-outline-danger btn-sm btn-rounded">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% endif %}
    <!-- Section: Un-Opened Table -->

    <!-- Section: Completed Table -->
    <div class="mx-4 mb-3">
        <h3>Completed/Closed Tickets</h3>
    </div>
    {% if closed_tickets.count == 0 %}
    <div class="mx-5 mb-5" style="color: rgb(204, 204, 204);">
        <h4>-Get Started by generating tickets</h4>
    </div>
    {% else %}
    <section class="mb-5">
        <div class="table-responsive bg-glass shadow-4-strong rounded-6">
            <table class="
            table table-borderless table-hover table-striped
            align-middle
            mb-0
            text-white
            ">
                <thead class="">
                    <tr>
                        <th>#</th>
                        <th style="text-align: center;">Bug ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th style="text-align: center;">Status</th>
                        <th style="text-align: center;">Priority</th>
                        <th>Assigned to</th>
                        <th>Reported by</th>
                        <th style="text-align: center;">Updated On</th>
                        <th style="text-align: center;">Created On</th>
                        <th style="text-align: center;">Actions</th>
                    </tr>
                </thead>
                <tbody class="">
                    {% for prticket in sorted_tickets %}
                    {% for ticket in closed_tickets %}
                    {% if prticket.bug_ref == ticket.id %}
                    <tr class="text-white">
                        <td>{% cycle '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' '16' '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27' '28' '29' '30' %}</td>
                        <td style="text-align: center;">{{ ticket.id }}</td>
                        <td>
                            <p class="fw-bold" style="min-width: 120px;">{{ ticket.title }}</p>
                        </td>
                        <td>
                            <p style="min-width: 200px;">{{ ticket.description }}</p>
                        </td>
                        <td style="text-align: center;">
                            {% if ticket.status == 'closed' %}
                            <span class="badge badge-secondary rounded-pill">
                                Closed
                            </span>
                            {% else %}
                            <span class="badge badge-success rounded-pill">
                                Completed
                            </span>
                            {% endif %}
                        </td>
                        <td style="text-align: center;">
                            {% if ticket.priority == 1 %}
                            <span class="badge badge-danger rounded-pill">
                                Urgent
                            </span>
                            {% elif ticket.priority == 2 %}
                            <span class="badge badge-warning rounded-pill">
                                High
                            </span>
                            {% elif ticket.priority == 3 %}
                            <span class="badge badge-primary rounded-pill">
                                Medium
                            </span>
                            {% else %}
                            <span class="badge badge-secondary rounded-pill">
                                Low
                            </span>
                            {% endif %}
                        </td>
                        <td>
                            {% for user in ticket.assigned_to.all %}
                            <div class="d-flex align-items-center">
                                <!-- https://mdbootstrap.com/img/new/avatars/8.jpg -->
                                <img src="{{ user.avatar.url }}" alt="avatar"
                                    style="width: 35px; height: 35px" class="rounded-circle"/>
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">@{{ user.username }}</p>
                                    <p class="text-muted mb-0">{{ user.email }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="{{ ticket.reported_by.avatar.url }}" alt=""
                                    style="width: 35px; height: 35px" class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">@{{ ticket.reported_by.username }}</p>
                                    <p class="text-muted mb-0">{{ ticket.reported_by.email }}</p>
                                </div>
                            </div>
                        </td>
                        <td style="text-align: center;">{{ ticket.update_date }}</td>
                        <td style="text-align: center;">{{ ticket.create_date }}</td>
                        <td>
                            <div class="d-flex flex-column align-items-center" style="min-width: 90px;">
                                <div class="m-1">
                                    <a href=" {% url 'update-status' ticket.id 0 %} " class="btn btn-outline-success btn-sm btn-rounded">
                                        <i class="far fa-envelope-open m-1"></i>Re-Open
                                    </a>
                                </div>
                                <div class="m-1">
                                    <a href="{% url 'delete-ticket' ticket.id %}" class="btn btn-outline-danger btn-sm btn-rounded">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% endif %}
    <!-- Section: Completed Table -->
</div>

{% endblock content %}