{% extends 'main.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container py-4">
    <div class="mx-4 mb-3">
        <h1>Dashboard</h1>
    </div>
    <!-- Section: Summary -->
    <section class="mb-5">
        <div class="row gx-xl-5">
            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <!-- Card -->
                <a class="d-flex align-items-center p-4 bg-glass shadow-4-strong rounded-6 text-reset ripple" href="#" data-ripple-color="hsl(0, 0%, 75%)">
                    <div class="p-3 bg-theme rounded-4">
                        <i class="fas fa-users fa-lg text-white fa-fw"></i>
                    </div>

                    <div class="ms-4">
                        <p class="text-muted mb-2">Total Bugs</p>
                        <p class="mb-0">
                            <span class="h5 me-2">{{ tickets_all.count }}</span>
                            <small class="text-success text-sm"><i class="fas fa-arrow-up fa-sm me-1"></i>13,48%</small>
                        </p>
                    </div>
                </a>
                <!-- Card -->
            </div>

            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <!-- Card -->
                <a class="d-flex align-items-center p-4 bg-glass shadow-4-strong rounded-6 text-reset ripple" href="#" data-ripple-color="hsl(0, 0%, 75%)">
                    <div class="p-3 bg-theme rounded-4">
                        <i class="fas fa-file-alt fa-lg text-white fa-fw"></i>
                    </div>

                    <div class="ms-4">
                        <p class="text-muted mb-2">Un-Opened</p>
                        <p class="mb-0">
                            <span class="h5 me-2">{{ unopened_tickets.count }}</span>
                            <small class="text-success text-sm"><i class="fas fa-arrow-up fa-sm me-1"></i>23,58%</small>
                        </p>
                    </div>
                </a>
                <!-- Card -->
            </div>

            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <!-- Card -->
                <a class="d-flex align-items-center p-4 bg-glass shadow-4-strong rounded-6 text-reset ripple" href="#" data-ripple-color="hsl(0, 0%, 75%)">
                    <div class="p-3 bg-theme rounded-4">
                        <i class="fas fa-clock fa-lg text-white fa-fw"></i>
                    </div>

                    <div class="ms-4">
                        <p class="text-muted mb-2">In Progress</p>
                        <p class="mb-0">
                            <span class="h5 me-2">{{ inprogress_tickets.count }}</span>
                            <small class="text-danger text-sm"><i
                                    class="fas fa-arrow-down fa-sm me-1"></i>23,58%</small>
                        </p>
                    </div>
                </a>
                <!-- Card -->
            </div>

            <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
                <!-- Card -->
                <a class="d-flex align-items-center p-4 bg-glass shadow-4-strong rounded-6 text-reset ripple" href="#" data-ripple-color="hsl(0, 0%, 75%)">
                    <div class="p-3 bg-theme rounded-4">
                        <i class="fas fa-sign-out-alt fa-lg text-white fa-fw"></i>
                    </div>

                    <div class="ms-4">
                        <p class="text-muted mb-2">Completed/Closed</p>
                        <p class="mb-0">
                            <span class="h5 me-2">{{ closed_tickets.count }}</span>
                            <small class="text-success text-sm"><i
                                    class="fas fa-arrow-down fa-sm me-1"></i>23,58%</small>
                        </p>
                    </div>
                </a>
                <!-- Card -->
            </div>
        </div>
    </section>
    <!-- Section: Summary -->

    <!-- Section: In Progress Table -->
    <div class="mx-4 mb-3">
        <h3>In Progress/Opened Tickets</h3>
    </div>
    {% if inprogress_tickets.count == 0 %}
    <div class="mx-5 mb-5" style="color: rgb(204, 204, 204);">
        <h4>-No tickets are opened currently</h4>
    </div>
    {% else %}
    <section class="mb-5">
        <div class="table-responsive bg-glass shadow-4-strong rounded-6">
            <table class="
            table table-borderless table-hover
            align-middle
            mb-0
            text-white
            ">
                <thead class="">
                    <tr>
                        <th>#</th>
                        <th>Bug ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Priority</th>
                        <th>Assigned to</th>
                        <th>Reported by</th>
                        <th>Updated On</th>
                        <th>Created On</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="">
                    {% for prticket in sorted_tickets %}
                    {% for ticket in inprogress_tickets %}
                    {% if prticket.id == ticket.id %}
                    <tr class="text-white">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ ticket.id }}</td>
                        <td>
                            <p class="fw-bold" style="min-width: 120px;">{{ ticket.title }}</p>
                        </td>
                        <td>
                            <p style="min-width: 200px;">{{ ticket.description }}</p>
                        </td>
                        <td>
                            {% if ticket.priority == 1 %}
                            <span class="badge badge-danger rounded-pill">
                                Urgent
                            </span>
                            {% elif ticket.priority == 2 %}
                            <span class="badge badge-warning rounded-pill">
                                High
                            </span>
                            {% elif ticket.priority == 3 %}
                            <span class="badge badge-success rounded-pill">
                                Medium
                            </span>
                            {% else %}
                            <span class="badge badge-secondary rounded-pill">
                                Low
                            </span>
                            {% endif %}
                        </td>
                        <td>
                            {% for user in ticket.assigned_to %}
                            <div class="d-flex align-items-center">
                                <!-- https://mdbootstrap.com/img/new/avatars/8.jpg -->
                                <img src="{{ user.avatar.url }}" alt="avatar"
                                    style="width: 25px; height: 25px" class="rounded-circle"/>
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">@{{ user.username }}</p>
                                    <p class="text-muted mb-0">{{ user.email }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="{{ ticket.reported_by.avatar.url }}" alt=""
                                    style="width: 25px; height: 25px" class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">@{{ ticket.reported_by.username }}</p>
                                    <p class="text-muted mb-0">{{ ticket.reported_by.email }}</p>
                                </div>
                            </div>
                        </td>
                        <td>{{ ticket.update_date }}</td>
                        <td>{{ ticket.create_date }}</td>
                        <td>
                            <div class="d-flex flex-column align-items-center" style="min-width: 90px;">
                                <div class="m-1">
                                    <button type="button" class="btn btn-outline-success btn-sm btn-rounded">
                                        <i class="fas fa-check m-1"></i>Done
                                    </button>
                                </div>
                                <div class="m-1">
                                    <button type="button" class="btn btn-outline-success btn-sm btn-rounded">
                                        <i class="fas fa-slash m-1"></i></i>Close
                                    </button>
                                </div>
                                <div class="m-1">
                                    <button type="button" class="btn btn-outline-white btn-sm btn-rounded">
                                        Edit
                                    </button>
                                </div>
                                <div class="m-1">
                                    <button type="button" class="btn btn-outline-danger btn-sm btn-rounded">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% endif %}
    <!-- Section: In Progress Table -->

    <!-- Section: Un-Opened Table -->
    <div class="mx-4 mb-3">
        <h3>Un-Opened Tickets</h3>
    </div>
    {% if unopened_tickets.count == 0 %}
    <div class="mx-5 mb-5" style="color: rgb(204, 204, 204);">
        <h4>-No new tickets! #winning</h4>
    </div>
    {% else %}
    <section class="mb-5">
        <div class="table-responsive bg-glass shadow-4-strong rounded-6">
            <table class="
            table table-borderless table-hover
            align-middle
            mb-0
            text-white
            ">
                <thead class="">
                    <tr>
                        <th>#</th>
                        <th>Bug ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Priority</th>
                        <th>Assigned to</th>
                        <th>Reported by</th>
                        <th>Updated On</th>
                        <th>Created On</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="">
                    {% for prticket in sorted_tickets %}
                    {% for ticket in unopened_tickets %}
                    {% if prticket.id == ticket.id %}
                    <tr class="text-white">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ ticket.id }}</td>
                        <td>
                            <p class="fw-bold" style="min-width: 120px;">{{ ticket.title }}</p>
                        </td>
                        <td>
                            <p style="min-width: 200px;">{{ ticket.description }}</p>
                        </td>
                        <td>
                            {% if ticket.priority == 1 %}
                            <span class="badge badge-danger rounded-pill">
                                Urgent
                            </span>
                            {% elif ticket.priority == 2 %}
                            <span class="badge badge-warning rounded-pill">
                                High
                            </span>
                            {% elif ticket.priority == 3 %}
                            <span class="badge badge-success rounded-pill">
                                Medium
                            </span>
                            {% else %}
                            <span class="badge badge-secondary rounded-pill">
                                Low
                            </span>
                            {% endif %}
                        </td>
                        <td>
                            {% for user in ticket.assigned_to %}
                            <div class="d-flex align-items-center">
                                <!-- https://mdbootstrap.com/img/new/avatars/8.jpg -->
                                <img src="{{ user.avatar.url }}" alt="avatar"
                                    style="width: 25px; height: 25px" class="rounded-circle"/>
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">@{{ user.username }}</p>
                                    <p class="text-muted mb-0">{{ user.email }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="{{ ticket.reported_by.avatar.url }}" alt=""
                                    style="width: 25px; height: 25px" class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">@{{ ticket.reported_by.username }}</p>
                                    <p class="text-muted mb-0">{{ ticket.reported_by.email }}</p>
                                </div>
                            </div>
                        </td>
                        <td>{{ ticket.update_date }}</td>
                        <td>{{ ticket.create_date }}</td>
                        <td>
                            <div class="d-flex flex-column align-items-center" style="min-width: 90px;">
                                <div class="m-1">
                                    <button type="button" class="btn btn-outline-success btn-sm btn-rounded">
                                        <i class="far fa-envelope-open m-1"></i>Open
                                    </button>
                                </div>
                                <div class="m-1">
                                    <button type="button" class="btn btn-outline-white btn-sm btn-rounded">
                                        Edit
                                    </button>
                                </div>
                                <div class="m-1">
                                    <button type="button" class="btn btn-outline-danger btn-sm btn-rounded">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% endif %}
    <!-- Section: Un-Opened Table -->

    <!-- Section: Completed Table -->
    <div class="mx-4 mb-3">
        <h3>Completed/Closed Tickets</h3>
    </div>
    {% if closed_tickets.count == 0 %}
    <div class="mx-5 mb-5" style="color: rgb(204, 204, 204);">
        <h4>-Get Started by generating tickets</h4>
    </div>
    {% else %}
    <section class="mb-5">
        <div class="table-responsive bg-glass shadow-4-strong rounded-6">
            <table class="
            table table-borderless table-hover
            align-middle
            mb-0
            text-white
            ">
                <thead class="">
                    <tr>
                        <th>#</th>
                        <th>Bug ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Assigned to</th>
                        <th>Reported by</th>
                        <th>Updated On</th>
                        <th>Created On</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="">
                    {% for prticket in sorted_tickets %}
                    {% for ticket in closed_tickets %}
                    {% if prticket.id == ticket.id %}
                    <tr class="text-white">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ ticket.id }}</td>
                        <td>
                            <p class="fw-bold" style="min-width: 120px;">{{ ticket.title }}</p>
                        </td>
                        <td>
                            <p style="min-width: 200px;">{{ ticket.description }}</p>
                        </td>
                        <td>
                            {% if ticket.status == 'closed' %}
                            <span class="badge badge-primary rounded-pill">
                                Closed
                            </span>
                            {% else %}
                            <span class="badge badge-success rounded-pill">
                                Completed
                            </span>
                            {% endif %}
                        </td>
                        <td>
                            {% if ticket.priority == 1 %}
                            <span class="badge badge-danger rounded-pill">
                                Urgent
                            </span>
                            {% elif ticket.priority == 2 %}
                            <span class="badge badge-warning rounded-pill">
                                High
                            </span>
                            {% elif ticket.priority == 3 %}
                            <span class="badge badge-success rounded-pill">
                                Medium
                            </span>
                            {% else %}
                            <span class="badge badge-secondary rounded-pill">
                                Low
                            </span>
                            {% endif %}
                        </td>
                        <td>
                            {% for user in ticket.assigned_to %}
                            <div class="d-flex align-items-center">
                                <!-- https://mdbootstrap.com/img/new/avatars/8.jpg -->
                                <img src="{{ user.avatar.url }}" alt="avatar"
                                    style="width: 25px; height: 25px" class="rounded-circle"/>
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">@{{ user.username }}</p>
                                    <p class="text-muted mb-0">{{ user.email }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="{{ ticket.reported_by.avatar.url }}" alt=""
                                    style="width: 25px; height: 25px" class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">@{{ ticket.reported_by.username }}</p>
                                    <p class="text-muted mb-0">{{ ticket.reported_by.email }}</p>
                                </div>
                            </div>
                        </td>
                        <td>{{ ticket.update_date }}</td>
                        <td>{{ ticket.create_date }}</td>
                        <td>
                            <div class="d-flex flex-column align-items-center" style="min-width: 90px;">
                                <div class="m-1">
                                    <button type="button" class="btn btn-outline-success btn-sm btn-rounded">
                                        <i class="far fa-envelope-open m-1"></i>Re-open
                                    </button>
                                </div>
                                <div class="m-1">
                                    <button type="button" class="btn btn-outline-danger btn-sm btn-rounded">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% endif %}
    <!-- Section: Completed Table -->
</div>

{% endblock content %}