<footer class="footer-section text-white pt-2 pb-4 mt-2">

    <div class="container text-md-left">

        <hr class="mb-4">

        <div class="row align-items-center">

            <div class="col-md-7 col-lg-8">
                <h1>Markhor Inc.</h1>Copyright ©2022 All rights reserved
                <!-- <p>Copyright ©2021 All rights reserved by:
            <a href="#" style="text-decoration: none;">
              <strong style="color: rgb(62, 255, 120);">Royal Markhor - Blockchain Banking</strong>
            </a></p> -->

            </div>

            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-right">

                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                                    class="fab fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                                    class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                                    class="fab fa-youtube"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                                    class="fa fa-university" aria-hidden="true"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                                    class="fab fa-btc" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://ispr.gov.pk" target="_blank" class="btn-floating btn-sm text-white"
                                style="font-size: 23px;"><img src="img/isi.png" width="50" height="54"></a>
                        </li>
                    </ul>

                </div>

            </div>

        </div>

    </div>

</footer>