<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxs-bug icon'></i>
        <div class="logo_name">Bug Tracker</div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
        <!-- <li>
            <i class='bx bx-search'></i>
            <input type="text" placeholder="Search...">
            <span class="tooltip">Search</span>
        </li> -->
        <li>
            <a href="{% url 'dashboard' %}">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="{% url 'add-ticket' %}">
                <i class='bx bx-add-to-queue'></i>
                <span class="links_name">Add Bug Ticket</span>
            </a>
            <span class="tooltip">Report Bug</span>
        </li>
        <li>
            <a href="{% url 'teams' %}">
                <i class="fas fa-users"></i>
                <span class="links_name">Teams</span>
            </a>
            <span class="tooltip">Teams</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-pie-chart-alt-2'></i>
                <span class="links_name">Analytics</span>
            </a>
            <span class="tooltip">Analytics</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-folder'></i>
                <span class="links_name">File Manager</span>
            </a>
            <span class="tooltip">Files</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-cart-alt'></i>
                <span class="links_name">Order</span>
            </a>
            <span class="tooltip">Order</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-heart'></i>
                <span class="links_name">Saved</span>
            </a>
            <span class="tooltip">Saved</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-cog'></i>
                <span class="links_name">Setting</span>
            </a>
            <span class="tooltip">Setting</span>
        </li>
        <li>
            <a href="{% url 'logout' %}">
                <i class='bx bx-power-off'></i>
                <span class="links_name">Logout</span>
            </a>
            <span class="tooltip">Logout</span>
        </li>
        <li class="profile">
            <div class="profile-details">
                <img src="{{ loged_user.avatar.url }}" alt="profile image" style="width: 35px; height: 35px"
                    class="rounded-circle me-2" />
                <!--<img src="profile.jpg" alt="profileImg">-->
                <div class="name_job">
                    <div class="name">{{ loged_user.name }}</div>
                    <div class="job text-primary">@{{ loged_user.username }}</div>
                </div>
            </div>
            <a href="#btn" id="profile-btn">
                <i id="log_out">
                    <img src="{{ loged_user.avatar.url }}" alt="profile image" style="width: 50px; height: 50px"
                        class="rounded-circle" />
                </i>
                <!-- class='bx bx-log-out'  -->
            </a>
        </li>
    </ul>
</div>